## Compulsory Task 

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [175]:
import fuzzywuzzy
from fuzzywuzzy import process
import chardet
import pandas as pd
import numpy as np
import datetime

In [176]:
# Load up store_income_data.csv
store_df = pd.read_csv("store_income_data_task.csv")

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [177]:
# View unique country values
countries = store_df['country'].unique()
print(f'There are {len(countries)} unique countries')

There are 77 unique countries

In [178]:
countries

array(['United States/', 'Britain', ' United States', 'Britain/',
       ' United Kingdom', 'U.K.', 'SA ', 'U.K/', 'America',
       'United Kingdom', nan, 'united states', ' S.A.', 'England ', 'UK',
       'S.A./', 'ENGLAND', 'BRITAIN', 'U.K', 'U.K ', 'America/', 'SA.',
       'S.A. ', 'u.k', 'uk', ' ', 'UK.', 'England/', 'england',
       ' Britain', 'united states of america', 'UK/', 'SA/', 'SA',
       'England.', 'UNITED KINGDOM', 'America.', 'S.A..', 's.a.', ' U.K',
       ' United States of America', 'Britain ', 'England', ' SA',
       'United States of America.', 'United States of America/',
       'United States.', 's. africasouth africa', ' England',
       'United Kingdom ', 'United States of America ', ' UK',
       'united kingdom', 'AMERICA', 'America ',
       'UNITED STATES OF AMERICA', ' S. AfricaSouth Africa', 'america',
       'S. AFRICASOUTH AFRICA', 'Britain.', '/', 'United Kingdom.',
       'United States', ' America', 'UNITED STATES', 'sa',
       'United States of America', 'UK ', 'United States ',
       'S. AfricaSouth Africa/', 'S.A.', 'United Kingdom/',
       'S. AfricaSouth Africa ', 'S. AfricaSouth Africa.',
       'S. AfricaSouth Africa', '.', 'britain'], dtype=object)

In [179]:
# Convert to lower case
store_df['country'] = store_df['country'].str.lower()

# Remove trailing white spaces and characters
store_df['country'] = store_df['country'].str.strip(" ")
store_df['country'] = store_df['country'].str.strip("/")
store_df['country'] = store_df['country'].str.strip(".")

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [180]:
# View changes
countries = store_df['country'].unique()
print(f"There are {len(countries)} unique countries")

# Function to replace rows in the provided column of the provided DataFrame
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 90):
    # get a list of unique strings
    strings = df[column].unique()
    
    # Get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # Only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # Get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # Replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # Let us know when the function is done
    print("All done!")

There are 13 unique countries

In [181]:
countries

array(['united states', 'britain', 'united kingdom', 'u.k', 'sa',
       'america', nan, 's.a', 'england', 'uk', '',
       'united states of america', 's. africasouth africa'], dtype=object)

In [182]:
replace_matches_in_column(df=store_df, column='country', string_to_match="united kingdom")
replace_matches_in_column(df=store_df, column='country', string_to_match="united states")
replace_matches_in_column(df=store_df, column='country', string_to_match="united states of america")
replace_matches_in_column(df=store_df, column='country', string_to_match="south africa")
replace_matches_in_column(df=store_df, column='country', string_to_match="england")
replace_matches_in_column(df=store_df, column='country', string_to_match="britain")
replace_matches_in_column(df=store_df, column='country', string_to_match="s. africasouth africa")
replace_matches_in_column(df=store_df, column='country', string_to_match="uk")
replace_matches_in_column(df=store_df, column='country', string_to_match="u.k.")
replace_matches_in_column(df=store_df, column='country', string_to_match="s.a.")
replace_matches_in_column(df=store_df, column='country', string_to_match="america")
replace_matches_in_column(df=store_df, column='country', string_to_match="sa")
replace_matches_in_column(df=store_df, column='country', string_to_match="")

All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

All done!

In [183]:
countries = store_df['country'].unique()
print(f"There are {len(countries)} unique countries")
countries

# Replace values
store_df.country.fillna('Other', inplace=True)
store_df.replace('uk', 'united kingdom', inplace=True)
store_df.replace('britain', 'united kingdom', inplace=True)
store_df.replace('england', 'united kingdom', inplace=True)
store_df.replace('u.k.', 'united kingdom', inplace=True)
store_df.replace('united states of america', 'united states', inplace=True)
store_df.replace('america', 'united states', inplace=True)
store_df.replace('sa', 'south africa', inplace=True)
store_df.replace('s.a.', 'south africa', inplace=True)
store_df.replace('s. africasouth africa', 'south africa', inplace=True)
store_df.replace('', 'Other', inplace=True)

There are 13 unique countries

C:\Users\shazz\AppData\Local\Temp\ipykernel_14492\1008329884.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  store_df.country.fillna('Other', inplace=True)

In [184]:
countries = store_df['country'].unique()
print(f"There are {len(countries)} unique countries")
countries

There are 4 unique countries

array(['united states', 'united kingdom', 'south africa', 'Other'],
      dtype=object)

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [185]:
# Convert to datetime using the correct format
store_df['date_measured'] = pd.to_datetime(store_df['date_measured'], format='%d-%m-%Y')


# Calculate days ago
today = pd.Timestamp(datetime.date.today())
store_df['days_ago'] = (today - store_df['date_measured']).dt.days

print(store_df[['date_measured', 'days_ago']].head())

  date_measured  days_ago
0    2006-02-04      6929
1    2006-01-04      6960
2    2003-09-12      7805
3    2006-05-08      6836
4    1973-01-21     18996